<!DOCTYPE html>
<html>
  <head>
    <title>なかのさん</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header>
	  <div class="header-logo">
	    <!--トップページへのリンクにしてください-->
	    <a href = />なかのさん</a>
	  </div>
	  <ul class="header-menus">
	    <li>
	      <!--サービス紹介ページへのリンクにしてください-->
	      <%= link_to("「なかのさん」とは  ","/about") %>
	    </li>
	    <li>
	      <%= link_to("Login!","/posts/index")%>
	    </li>
	  </ul>
	</header>

    <%= yield %>
  </body>
</html>
